trainer:
  max_epochs: 50
  accelerator: auto
  devices: 1
  log_every_n_steps: 10
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      entity: "grade-descent"
      project: "jute-disease-pest-detection"
      log_model: True
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: "val_loss"
        save_top_k: 1
        mode: "min"
        filename: "mobilenet-{epoch:02d}-{val_loss:.4f}"
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: "val_loss"
        patience: 10
        mode: "min"

model:
  lr: 0.001
  num_classes: 6
  feature_extractor:
    class_path: jute_disease_pest.models.dl_backbones.mobilenet.MobileNet
    init_args:
      pretrained: true

data:
  batch_size: 256
  data_dir: "data/ml_split"
